4-4-pre1/org/gjt/sp/jedit/recent.dtd

<!-- RECENT element -->
<!ELEMENT RECENT ( ENTRY+ ) >

<!-- ENTRY element -->
<!ELEMENT ENTRY ( PATH | CARET | SELECTION | ENCODING | MODE )* >

<!-- ENTRY child elements -->
<!ELEMENT PATH ( #PCDATA ) >
<!ELEMENT CARET ( #PCDATA ) >
<!ELEMENT SELECTION ( #PCDATA ) >
<!ELEMENT ENCODING ( #PCDATA ) >
<!ELEMENT MODE ( #PCDATA ) >
