org/gjt/sp/jedit/actions.dtd

<!ENTITY % att-bool '( TRUE | FALSE )' >

<!-- ACTIONS element -->
<!ELEMENT ACTIONS ( ACTION+ ) >

<!-- ACTION element -->
<!ELEMENT ACTION ( CODE, (IS_SELECTED?) ) >
<!ATTLIST ACTION
	NAME ID #REQUIRED
	NO_REPEAT %att-bool; "FALSE"
	NO_RECORD %att-bool; "FALSE"
	NO_REMEMBER_LAST %att-bool; "FALSE" >

<!-- ACTION children -->
<!ELEMENT CODE ( #PCDATA ) >
<!ELEMENT IS_SELECTED ( #PCDATA ) >
