4-4-pre1/org/gjt/sp/jedit/options/mirrors.dtd

<!-- DTD used to validate the mirror list XML file from Plugin Central  -->

<!ELEMENT MIRRORS ( MIRROR )+ >

<!ELEMENT MIRROR ( DESCRIPTION, LOCATION, COUNTRY, CONTINENT ) >
<!ATTLIST MIRROR
	ID CDATA #REQUIRED >

<!ELEMENT DESCRIPTION ( #PCDATA ) >

<!ELEMENT LOCATION ( #PCDATA ) >

<!ELEMENT COUNTRY ( #PCDATA ) >

<!ELEMENT CONTINENT ( #PCDATA ) >
